:root{
  --cor-fundo: #101010;
  --cor-header: #000;
  --cor-letras: #f00;
}

* {
  bottom: 0;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: black;
  color: white
}
img{
  border-radius: 15px;
}

.imagem img{
  position: absolute;
  width: 1520px; /*Largura da janela*/
  top: 100px;
  height: 720px;
  border-radius: 0;
  z-index: -2;
}
.imagem div{
  background-color: rgba(0, 0, 0, 0.6); /* Preto com 60% de opacidade */
  position: absolute;
  top: 100px; 
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -1;
}

header{
  font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  padding: 2%;
  height: 35px;
  background-color: transparent;
  color: var(--cor-letras);
  display: flex;
  justify-content: space-between;
  z-index: 50;
  animation: descendo 2s;
}
header a{
  color: var(--cor-letras); /*Título CINEFLIX*/
}

nav, ul {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 50px;
  font-size: 20px;
}

a{
  color: rgb(230, 230, 230);
}
a:hover{
  cursor: pointer;
}

li:hover{
  cursor: pointer;
  text-decoration: underline;
}

main{
  margin-top: 750px;
}

td {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.4s ease;
}
td:hover{
  transform: scale(1.07);
  cursor: pointer;
}
td, th{
  padding: 30px;
}

hr{
  border: none;
  height: 2px;
  background-color: var(--cor-letras);
}

td img {
  width: 180px;
  height: auto;
}

#linha td:hover{
  background-color: black;
  transform: none;
  cursor: default;
}

table{
  margin: 0 auto;
  font-size: 100%;
  color: white;
  padding: 3%;
  animation: entrando 2s;
}

a{
  text-decoration: none;
}

@keyframes descendo{
  from{
    margin-top: -10%;
  }
  to{
    margin: 0;
  }
}
@keyframes entrando{
  from{
    margin-left: -98%;
  }
  to{
    margin: 0;
  }
}