:root{
  --cor-fundo: #222222;
}

* {
  bottom: 0;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: var(--cor-fundo);
  color: white
}
img{
  border-radius: 15px;
}


.imagem img{
  position: static;
  width: 1690px;
  height: 700px;
  z-index: -1;
}
.imagem div{
  background-color: rgb(102, 0, 0);
  height: 100px;
  z-index: 2;
}

header{
  font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
  padding: 2%;
  background-color: black;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: descendo 2s;
}

nav, ul {
  list-style: none;
  display: flex;
  gap: 100px;
}
li:hover{
  cursor: pointer;
  text-decoration: underline;
}

td {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  /*width: 2000000000000000000000000000000000000000000000000000000000px;*/
}
td img {
  max-width: 180px;
  height: auto;
}
td:hover{
  background-color: #3E3E3E;
  cursor: pointer;
}

#linha td:hover{
  background-color: var(--cor-fundo);
  cursor:default;
}

table{
  font-size: 100%;/*  sdadadsdad    */
  color: red;
  padding: 3%;
  animation: entrando 2s;
}
summary:hover{
  color: yellow;
  cursor: pointer;
}

a{
  text-decoration: none;
}
p{
  text-decoration: none;
}

@keyframes descendo{
  from{
    margin-top: -10%;
  }
  to{
    margin: 0;
  }
}
@keyframes entrando{
  from{
    margin-left: -98%;
  }
  to{
    margin: 0;
  }
}